.check {
  justify-content: center;
  align-items: center;
  display: flex;
}

.cat-name {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3.125rem;
}

.box-container {
  justify-content: center;
  align-items: center;
  display: flex;
}